
.list-items {
    display: flex;              
    align-items: center;
    gap: 1rem;                  
    margin-bottom: .75rem;      

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
  }
  
  .list-items input[type="text"] {
    flex: 1 1 200px;            
    padding: .625rem .75rem;    
    border: 2px solid #535252;
    border-radius: .375rem;     
    font-size: 1rem;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
  }
  
  .btn {
    cursor: pointer;
    min-width: 100px;
    padding: .5rem 1rem;
    border: none;
    border-radius: .375rem;
    background: rgb(91 91 199);
    color: #000;
    font-weight: 600;
    transition: transform .2s ease, background .2s ease, color .2s ease;
  }
  
  .btn:hover {
    background: #000;
    color: #fff;
    transform: scale(.95);
  }
  
  #list-items-container {
    max-width: 600px;
    width: 100%;
    margin-top: 1.25rem;        
    padding: 1rem;
    border-radius: .625rem;
    background: #53525243;     
  }
  
  #list-items-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #list-items-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 1.125rem/1.4 "Arial", Helvetica, sans-serif;
    padding: .5rem .25rem;
    border-bottom: 1px solid #ddd;
    list-style: none;
  }
  
  #list-items-container li:last-child {
    border-bottom: 0;
    list-style: none;
  }
  
  .remove-btn {
    background: black;
    border: none;
    color: #ddd;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    transition: transform .2s ease;
  }

  .todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: #f0f0f055;
    box-shadow: rgb(112, 114, 216) 0px 0px 10px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
  }

  .add-btn{
    background-color: rgb(59, 62, 255);
    color: white;
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 0.3rem;
    transition: 0.9s;

    &:hover{
      background-color: rgb(112, 114, 216);
      transform: scale(0.89);
    }
  }

  
